@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;500;600;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    scroll-behavior: smooth;
    scroll-padding-top: 9rem;
}

html{
    font-size: 62.5%;
}

body{
    position: relative;
    min-height: 100vh;
    width: 100%;
    background-image: url(imgs/background.jpg);
    background-position: center center;
    background-size: cover;
    background-position-y: 0px;
    background-repeat: no-repeat;
    overflow-x: hidden;
}

header{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 7rem;
    width: 100%;
    padding: 1.8rem 0;
    background-color: #f9a112;
}

header .logo{
    position: absolute;
    left: 4.7rem;
    height: 10rem;
    width: 10rem;
    z-index: 9999;
}

header .logo img{
    height: inherit;
    width: inherit;
}

header .menu{
    position: absolute;
    right: 12rem;
    display: flex;
}

header .menu li{
    margin-left: 3rem;
    font-family: 'Roboto',sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 250ms ease-in;
}

header .menu a{
    border: 1px solid #b3150a;
    border-radius: 5px;
    padding: 0.8rem 3rem;
    box-shadow: 10px 2px #de1607;
    color: #ffffff;
}

header .menu li:hover{
    transform: scale(1.1);
}

main{
    position: relative;
    width: 100%;
}

main .hero-logo{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    z-index: 999;
    overflow: hidden;
}

.hero-logo img{
    height: 50rem;
}

main .video-section{
    position: relative;
    height: fit-content;
    width: 100%;
    background-color: #f9a112;
    padding-bottom: 6rem;
    z-index: 2;
}

.video-section .text-preiframe{
    padding: 3rem 0;
    margin-bottom: 6rem;
    text-align: center;
    height: 20rem;
    max-width: 100%;
}

.video-section .text-preiframe h2{
    font-weight: 600;
    color: #fff;
    font-size: 3.4rem;
    margin-bottom: 1.5rem;
}

.video-section .text-preiframe p{
    margin: 0 auto;
    color: #fff;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    max-width: 60rem;
}

.video-section .video-iframe{
    display: flex;
    justify-content: center;
    height: fit-content;
    width: 100%;
}

.video-section .video-iframe .iframe-wrapper{
    width: calc(117rem - 10px);
    border-radius: 10px;
    overflow: hidden;
}

.video-section .video-iframe iframe{
    height: 66.8rem;
    width: 100%;
    border-radius: 10px;
}

.register-section{
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #f9a112;
    height: fit-content;
    width: 100%;
    padding: 9rem;
    text-transform: uppercase;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.852);
    overflow: hidden;
}

.register-section h2{
    width: fit-content;
    font-size: 4.2rem;
    font-weight: 600;
    font-family: "Montserrat";
    /* margin-left: 3rem; */
    margin-bottom: 1.5rem;
}

.register-section > p{
    text-align: center;
    font-size: 1.3rem;
    font-weight: 300;
    font-family: "Montserrat";
    width: 30rem;
    margin-bottom: 1.5rem;
}

.register-section .register-btn{
    display: flex;
    width: fit-content;
    padding: 0.8rem 2.8rem;
    margin-left: 5rem;
    border-radius: 1rem;
    color: #fff;
    font-size: 2.1rem;
    font-weight: 600;
    background-color: #f9a112;
    border: none;
    cursor: pointer;
    transition: 350ms ease-out;
}

.register-section .register-btn:hover{
    transform: scale(1.1);
}

.register-section .register-btn i{
    font-size: 1.4rem;
    margin-right: 1rem;
    color: #e92111;
}

.register-section .register-section-img{
    position: absolute;
    top: 4rem;
    right: 6rem;
    display: flex;
    justify-content: center;
    height: 30rem;
    width: 40rem;
    border-radius: 0.5rem;
    overflow: hidden;
}

.register-section .register-section-img img{
    max-height: inherit;
    max-width: inherit;
    object-fit: cover;
    object-position: center center;
}


@media (min-width: 1280px) and (max-width: 1920px) {
    .iframe-wrapper{
        width: 120rem;
    }
}

@media (max-width: 800px){
    html{
        font-size: 55%;
    }

    header .logo {
        position: absolute;
        left: 2.7rem;
    }

    header .menu {
        position: absolute;
        right: 2rem;
        display: flex;
    }

    .video-section .video-iframe .iframe-wrapper {
        width: calc(80rem - 10px);
        border-radius: 10px;
        overflow: hidden;
    }
}

@media (max-width: 650px){
    html{
        font-size: 45%;
    }

    header .menu{
        margin-left: 3rem;
        font-family: 'Roboto', sans-serif;
        font-size: 1.2rem;
        font-weight: 600;
        cursor: pointer;
        transition: all 250ms ease-in;
    }

    header .menu a{
        padding: 0.3rem 0.8rem;
    }

    .video-section .video-iframe .iframe-wrapper {
        width: calc(52rem - 10px);
        height: 56rem;
        border-radius: 10px;
        overflow: hidden;
    }

    .register-section{
        position: relative;
        height: fit-content;
        width: 100%;
        padding: 9rem 3rem;

    }

    .register-section h2{
        font-size: 2.1rem;
    }

    .register-section p{
        font-size: 1rem;
        text-align: left;
        width: 20rem;
    }

    .register-section .register-section-img {
        position: absolute;
        top: 8rem;
        right: 1.5rem;
        display: flex;
        justify-content: center;
        height: 20rem;
        width: 28rem;
        border-radius: 0.5rem;
        overflow: hidden;
    }

    .register-section .register-section-img img{
        border-radius: 10px;
    }

    .register-section .register-btn {
        text-align: center;
        max-width: 12rem;
        /* padding: 0.8rem 1.5rem; */
        margin: 0;
        border-radius: 1rem;
        color: #fff;
        font-size: 1.6rem;
        font-weight: 600;
        background-color: #f9a112;
        border: none;
        cursor: pointer;
        transition: 350ms ease-out;
    }
}

@media (max-width: 450px){
    html{
        font-size: 40%;
    }
}



       /*  .register-section {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: center;
            color: #f9a112;
            /* height: fit-content;
            width: 100%;
            /* padding: 9rem;
            margin-top: 50rem;
            text-transform: uppercase;
            min-height: 100vh;
            width: 100%;
            background-image: url(imgs/Naruto-x-Boruto-Connections.jpg);
            background-position: center center;
            background-size: cover;
            background-position-y: -60px;
            background-repeat: no-repeat;
            overflow: hidden;
        }
    
        .register-section h2 {
            width: fit-content;
            font-size: 4.2rem;
            font-weight: 600;
            font-family: "Montserrat";
            /* margin-left: 3rem; 
            margin-bottom: 1.5rem;
        }
    
        .register-section>p {
            text-align: center;
            font-size: 1.3rem;
            font-weight: 300;
            font-family: "Montserrat";
            width: 30rem;
            margin-bottom: 1.5rem;
        }
    
        .register-section .register-btn {
            display: flex;
            width: fit-content;
            padding: 0.8rem 2.8rem;
    
            border-radius: 1rem;
            color: #fff;
            font-size: 2.1rem;
            font-weight: 600;
            background-color: #f9a112;
            border: none;
            cursor: pointer;
            transition: 350ms ease-out;
        }
    
        .register-section .register-btn:hover {
            transform: scale(1.1);
        }
    
        .register-section .register-btn i {
            font-size: 1.4rem;
            margin-right: 1rem;
            color: #e92111;
        }
    
        .register-section .register-section-img {
            position: absolute;
            top: 4rem;
            right: 6rem;
            display: flex;
            justify-content: center;
            height: 30rem;
            width: 40rem;
            border-radius: 0.5rem;
            overflow: hidden;
        }
    
        .register-section .register-section-img img {
            max-height: inherit;
            max-width: inherit;
            object-fit: cover;
            object-position: center center;
        } */


    
    /* .register-section{
        display: flex;
        align-items: center;
        width: 100%;
        padding: 9rem 0rem;
        margin-top: 50rem;
    }

    .register-section h2 {
        font-size: 2.1rem;
        font-weight: 600;
        font-family: "Montserrat";
        margin-left: 3rem;
        margin-bottom: 1.5rem;
    }

    .register-section > p {
        text-align: center;
        font-size: 1rem;
        font-weight: 300;
        font-family: "Montserrat";
        width: 20rem;
    }

    .register-section .register-btn{
        padding: 0.8rem 1.5rem;
        margin: 1.5rem 0 0 2rem;
        border-radius: 1rem;
        color: #ffffff;
        font-size: 2.1rem;
        font-weight: 600;
    }


    .register-section .register-section-img{
        position: relative;
        background-color: #b3150a;
        top: 3rem;
        right: 0rem;
        height: 20rem;
        width: 40rem;
        border-radius: 0.5rem;
        overflow: hidden;   
    }

    .register-section .register-section-img img{
        height: inherit;
        width: inherit;
        object-fit: fill;
        object-position: center center;
    } */
